:root {
	--primary-bg-color: #bbc7be;
	--container-bg-color: #c4a19f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: TypewriterBold;
	src: url(../fonts/ELEGANT\ TYPEWRITER\ Bold.ttf);
}

@font-face {
	font-family: TypewriterReg;
	src: url(../fonts/ELEGANT\ TYPEWRITER\ Regular.ttf);
}

body {
	min-height: 100vh;
	background-color: var(--primary-bg-color);
	background: linear-gradient(
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.7)
		),
		url(../images/world-wall.png);
}

h1 {
	font-family: 'TypewriterBold', sans-serif;
	text-align: center;
	text-transform: capitalize;
	padding: 16px 0 32px 0;
}

#container {
	display: flex;
	justify-content: center;
	column-gap: 30px;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#flag-container {
	background-color: var(--container-bg-color);
	width: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 10px 3px #000000;
	-moz-box-shadow: 0px 0px 10px 3px #000000;
	-o-box-shadow: 0px 0px 10px 3px #000000;
	box-shadow: 0px 0px 10px 3px #000000;
}

.flag-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flag-light:hover {
	background-color: gold;
}

.correct-answer {
	background-color: green;
}

.wrong-answer {
	background-color: red;
}

.disable-div {
	pointer-events: none;
}

.flag {
	width: auto;
	height: 150px;
}

h2 {
	font-family: 'TypewriterReg', sans-serif;
	padding: 32px 0;
}

#lives-wrapper {
	display: flex;
}

#lives {
	padding-right: 1rem;
}

#score {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
